language: rust

rust:
  - nightly
  - beta
  - stable

before_script:
  - cargo install cargo-travis && export PATH=$HOME/.cargo/bin:$PATH

after_success:
  - cargo coveralls --verbose

dist: trusty
sudo: false

addons:
    apt:
        packages:
            - libcurl4-openssl-dev
            - libelf-dev
            - libdw-dev
            - binutils-dev
            - cmake
        sources:
            - kalakris-cmake
